<div>
    <app-collections></app-collections>
    <div class="w-full border-b gap-5 flex items-center justify-center">
        <p class="text-[#ff7900] text-sm font-bold cursor-pointer">Description</p>
        <p class="text-[#3e3e3e] text-sm font-bold cursor-pointer">Review (1)</p>
    </div>
    <div class="mt-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi facere deleniti, quibusdam asperiores excepturi eum omnis perferendis quas quis ad, expedita ratione dolore similique ipsa quidem cumque sint eos!
    </div>
</div>
